body{
    background:url(Imagenes/fondoxd.jpg);
    font-family: Inter;
    font-size: 28px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
}
.logo{
    position: absolute;
    padding-left: 5%;
    padding-top: 2%;
    
}
main{
    display: flex;
}
.area{
    border: none;
    color: #0A3871;;
    margin: 10%;
    margin-right: 100px;
    margin-top: 120px;
    background: none;
    width: 700px;
    height: 500px;
    font-size: 32px;
}
::placeholder{
    color: #0A3871;
    font-size: 40px;
    text-align: center;
}
.area:focus{
    outline: none;
}
.condicion{
    font-size: 25px;
    margin-left: 90px;
    color: red;
    opacity: 0.7;
    margin-bottom: 28px;
    text-align: center;
}
.condicion::before {
    content: "❗";
}
.contenedor-botones{
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
}
.btn-encriptar {
    display: inline-block;
    width: 150px;
    height: 50px;
    margin: 0 20px;
    background: #101b57;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: .8s;
    border: none;
    border-radius: 10px;
}
.btn-encriptar:hover {
    background: #3d697e;
    border: 50px;
    border-color: black;
}

.btn-desencriptar{
    display: inline-block;
    width: 150px;
    height: 50px;
    margin: 0 20px;
    background: #F3F5FC;
    color: #101b57;
    font-weight: bold;
    cursor: pointer;
    transition: .8s;
    border-radius: 10px;
}
.btn-desencriptar:hover {
    background: #101b57;
    color: #fff;
}
.seccion2{
    height: 100%;
    width: 100%;
}
.mensaje{
    position: absolute;
    background: url(Imagenes/Muñeco.png);
    background-repeat: no-repeat;
    background-position-y: center;
    margin-left: 80px;
    margin-top: 40px;
    width: 300px;
    height: 785px;
    font-size: 32px;
    color: #0A3871;
    font-weight: bold;
    font-style: italic;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 10px #0A3871;
    padding: 50px;
    text-align: center;
    }
.btn-copiar{
    display: none;
    width: 150px;
    height: 50px;
    margin-top: 690px;
    margin-left: 120px;
    color: #fff;
    background-color:#101b57 ; 
    cursor: pointer;
    border-radius: 20px;
    padding: auto;
    font-size: 20px;
    font-weight: bold;
    border: none;
    text-align: center;
}
.btn-copiar:hover{
    background: #3d697e;
    border: 50px;
    border-color: black;
}
footer{
    display: flex;
    flex-direction: column;
}
footer h2{
    margin-top: 180px;
    font-size: 20px;
    color: #0A3871;
    text-align: center;
}
h2 span{
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}
footer img{
    position: flex;
    justify-content: space-evenly;
    width: 30px;
}
.columna-redes{
    position: relative;
    margin: 0 auto;
}
.github{
    margin-left: 9px;
}

/*////////////////////////////////////////////////////////*/

@media  screen and (max-width:480px){
    body{
        width: 100%;
        height: 1100px;
    }
    header p {
        position: static;
        text-align: center;
        margin-bottom: 10px;
        width: 80%;
    }
    main{
        position: static;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: auto;
    }
    .area{
        position: static;
        width: 70%;
        height: 200px;
        margin-top: 23%;
        margin-left: 15%;
        font-size: 25px;
        text-align: justify; 
        text-align: inherit;
        margin-right: 0;
    }
    ::placeholder{
        font-weight: bold;
        font-style: italic;
        font-size: 30px;
        text-align: center;
    }
    .condicion{
        margin-left: 10%;
        width: 80%;
        font-size:10px;
        opacity:0.6;
    }
    .contenedor-botones{
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        margin-right: 3%; 
    }
    .btn-encriptar{
        margin: 0 auto;
        margin-bottom: 10%;
    }
    .btn-desencriptar{
        margin: 0 auto;
    }
    .seccion2{
        width: 100%;
        margin-left: 5px;
        margin-bottom: 20px;
    }    
    .mensaje{
        position: absolute;
        margin-left:4%;
        width: 80%;
        height: 300px;
        margin-bottom: 20px;
        font-size: 32px;
        font-weight: bold;
        font-style: italic;
        color: #0A3871;
        padding: 30px;
        background-position-x: center;
        background-position-y: center;
    }
    .btn-copiar{
        margin-left: 25%;
        margin-top: 69%;
        width: 50%;
    }
    footer{
        margin-top: 70%;
    }
}

/*//////////////////////////////////////////////////*/

@media screen and (min-width:480px) and (max-width:900px){
    body{
        width: 100%;
        height: 1600px;
    }
    
    header p {
        position: static;
        text-align: center;
        margin-bottom: 10px;
        width: 80%;
    }
    main{
        position: static;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .area{
        position: static;
        width: 70%;
        height: 40%;
        margin-top: 15%;
        margin-left: 15%;
        font-size: 35px;
        text-align: center; 
        margin-right: 0;
    }
    .condicion{
        margin-left: 20%;
        width: 80%;
    }
    .contenedor-botones{
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        margin-right: 3%;
    }
    .seccion2{
        width: 100%;
        margin-left: 5px;
        margin-bottom: 20px;
    }
    .mensaje{
        position: absolute;
        margin-left:4%;
        width: 80%;
        height: 300px;
        margin-bottom: 20px;
        font-size: 32px;
        font-weight: bold;
        font-style: italic;
        color: #0A3871;
        padding: 30px;
        background-position-x: center;
        background-position-y: center;
    }
    ::placeholder{
        font-weight: bold;
        font-style: italic;
        text-align: justify;
        text-align: center;
        font-size: 40px;
    }
    .btn-copiar{
        margin-left: 18%;
        margin-top: 56%;
        width: 60%;
    }

    footer{
        position: relative;
        top: 400px;
    }
}

